@home-button-color: #FF007B;

//====================
// Home Page - Intro Quote
//====================

.container--home{
  background-color: @home-background;
}

.intro-quote{
  padding: 100px 0;
  text-align: center;

  @media (min-width: @screen-sm ){
    padding: 160px 0;
  }
  h1 {
    color: #FFFFFF;
    font-weight: 900;
    
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 5px;
  }

  h2{
    font-weight: 300;
    font-size: 36px;
    color: #4C6571;
    font-size: 28px;
    line-height: 33px;
    margin-top: 0px;

    @media (min-width: @screen-sm ){  
      font-size: 40px;
      line-height: 50px;
    }
  }

  
}

