//====================
// Home Page - Intro Quote
//====================

.intro-quote{
  text-align: center;

  padding: 110px 0 30px;
  @media ( min-width: @screen-sm ){ padding: 140px 0 20px; }

  h1 {
    color: #FFFFFF;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: 0.02em;
    
    font-size: 85px;
    @media (min-width: @screen-sm ){ font-size: 100px; }
    @media (min-width: @screen-lg ){ font-size: 120px; }
    @media (min-width: @screen-xl ){ font-size: 130px; }

  }

  h2{
    margin-top: 0px;

    font-weight: 300;
    font-size: 36px;
    color: #687c84;
    line-height: 1.15em;
    font-size: 31px;

    @media (min-width: @screen-md ){ font-size: 34px; }
    @media (min-width: @screen-lg ){ font-size: 40px; }
    @media (min-width: @screen-xl ){ font-size: 44px; }
  }
}

.hire-card-container {
  padding: 0 @project-gap;
}

.card.card--hire{
  display: block;
  background-color: #2c3e3a;
  border: 1px solid #577e75;
  text-align: center;
  border-radius: @border-radius;
  padding: 20px 30px 10px;
  margin: @gap-xs auto 30px;

  @media (min-width: @screen-sm) {
    padding: 20px 30px 10px;
    margin: 30px auto 60px;
  }

  h3 {
    color: #000;
    font-size: 26px;
  }

  p, strong{
    font-size: 18px;
    color: #aee1d7;
  }
  strong {
    color: #ceffee;
    font-weight: 700;
  }

  span {
    color: #aee1d7;
    padding: 2px 5px;
    border-radius: @border-radius/2;
    white-space: nowrap;
    background: #293330;
  }

  &:hover {
    text-decoration: none;
    background-color: #354b46;
    border: 1px solid #577e75;

    span {
      text-decoration:none;
      background: #293330;
    }
  }

  &:active{
    background-color: #2c3e3a;
    border: 1px solid #577e75;
  }
}
