// unmodified bootstrap code
@import "./bootstrap/bootstrap";

// google fonts, available as font-family: 'Alegreya Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300italic,400,400italic,700,700italic,900,900italic);

@font-face {
    font-family: ladylike;
    src: url(/fonts/LadylikeBB.otf);
}

//====================
// Bootstrap Overrides
//====================

@grid-columns: 24;
@grid-gutter-width: 0px;
@max-content-width: 1100px;

// Width of the sidebar. Abstracted here because it's
// used by both the rail itself and the spacer in the 
// content sections.
@rail-width-xs: 100%;
@rail-width-sm: @rail-width-xs;
@rail-width-md: 260px;
@rail-width-lg: 360px;
@rail-width-xl: @rail-width-lg + 40px;

@heading-text: #173A4A; //#091520;
@heading-weight: 700;
@body-text: #6A8693;
@strong-text: #173A4A;
@border-radius: 8px;

@footer-height: 120px;


@home-background: #061a2f;
@home-card-margin: 8px;
@cyan: #00B1FE;


//====================
// Imports
//====================

@import "./nav";
@import "./type";
@import "./home";
@import "./footer";
@import "./utils";
@import "./google";

//====================
// Custom Styles
//====================

body{
  display: flex;
  justify-content: center;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;

}

// Section tags are used for full-width sections that contain bootstrap rows,
// panels, etc. Thise give full page backgrounds behind wrapped content.
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: @screen-sm){
    padding:16px;
  }

  // MD and forward (when the rail is a rail and not fullscreen)
  // pad the content area so the fixed rail can fit.
  @media (min-width: @screen-md){
    padding:16px;
    padding-left: @rail-width-md + 16px;
  }
  @media (min-width: @screen-lg){
    padding:40px;
    padding-left: @rail-width-lg + 40px;
  }

  &.dark{ background: @home-background; }
  &.midlight{ background: #dbe7ec; }

  >.container-fluid {
    overflow: visible;
    max-width: @max-content-width;
    // >.row, >.panel{
    // }
  }
}

.panel{
  position: relative;
  &-blank{
    background:none;
  }
}

#content{
  flex: 1;
  @media (min-width: @screen-md){
    overflow: hidden;
    
  }

  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
}

// the normal column, optimized for line length
.default-text{
  background: white;
  position: relative;
  padding: 60px 0;
  margin: 0 auto;

  >*{
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: @screen-md){
    padding: 100px 80px;
  }
  @media (min-width: @screen-lg){ 
    padding: 100px 140px;
  }

  &--flush{
    padding:0;
  }
}

// text in a padded white card
.card-text{
  
  .make-xs-column(22);
  .make-xs-column-offset(1);
  .make-sm-column(18);
  .make-sm-column-offset(2);
  .make-md-column(16);
  .make-md-column-offset(4);
  .make-lg-column(12);
  .make-lg-column-offset(6);

  background: white;
  padding: 40px;
  
  @media (min-width: @screen-sm){
    padding: 80px;
  }
}

//  those little 3-up images everyone always does
.triplet{
  .make-xs-column(18);
  .make-xs-column-offset(3);
  .make-sm-column(6);
  .make-sm-column-offset(1);
  .make-md-column(4);
  .make-md-column-offset(1);
  .make-lg-column(4);
  .make-lg-column-offset(1);

  &:first-of-type{
    // all equal on XS
    .make-sm-column-offset(2);
    .make-md-column-offset(5);
    .make-lg-column-offset(5);
  }

  &--card{
    background: white;
    padding: 40px;
  }
}

.ruled{

  // roomy, responsive vertical padding.
  // horizontal spacing determined by cols
  margin-top: 100%/24*3;
  margin-bottom: 100%/24*3;

  @media (max-width: (@screen-md - 1) ){
    border-top: 4px solid red;
  }
  @media (min-width: @screen-md ){
    

    :before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -30px;
      border-left: 4px solid red;
    }

    // flush the first and last children w/ top and bottom
    *:first-child {margin-top: 0;}
    *:last-child {margin-bottom: 0;}
  }
}

// Image demo panels
.panel{
  padding: 60px 0;
  overflow: hidden;
  @media (min-width: @screen-md ){
    padding: 120px 0;
  }

  &--flush {
    padding: 0;
  }

  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &--orchid-purple{
    background: #2c2d62;
  }
  &--orchid-pink{
    background: #E7E7F6;
  }
  &--orchid-space{
    background: url(/img/orchid/compressed/OSX_Space_BG.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--orchid-dark-space{
    background: url(/img/orchid/compressed/OSX_Space_BG_Dark.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--sketch{
    background: #f2f2f2;
  }

  &--checker{
    background: url(/img/karmic/Checker_BG.png) center center repeat; 
  }

  &--karmic-blue{
    // background: #17CBEB;
    background: url(/img/karmic/compressed/Snapchat_Blue_BG_3.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--karmic-snapchat{
    background: url(/img/karmic/compressed/Snapchat_Blue_BG_2.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--karmic-night{
    background: url(/img/karmic/compressed/Teepee_BG.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--animatik-red{
    // background: url(/img/animatik/Animatik_Red_BG_02.jpg) top center no-repeat; 
    // background: -webkit-linear-gradient(top, #ff3918, #ff0d04);
    // background: -moz-linear-gradient(top, #ff3918, #ff0d04);

    background: -webkit-linear-gradient(top, #ff3918, #DC0000);
    background: -moz-linear-gradient(top, #ff3918, #DC0000);
    
    // background-size: cover;
  }

  &--animatik-white{
    // background: url(/img/animatik/Animatik_White_BG_02.jpg) top center no-repeat; 
    // background-size: cover;
    background: -webkit-linear-gradient(top, #f1f6f9, #e4eef5);
    background: -moz-linear-gradient(top, #f1f6f9, #e4eef5);
  }

  &--palace-black{
    background-color: #1e1e1e;
  }

  &--palace-street{
    background: #1e1e1e url(/img/palace/compressed/Palace_Street_BG.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--remitly-intro{
    background: url(/img/remitly/remitly-hero-bg.jpg) center center no-repeat; 
    background-size: cover;
  }

  &--remitly-pale{
    background-color: #f3f4f7;
  }

  &--remitly-new-patterns{
    padding-top: 0;
    background: -moz-linear-gradient(top, #f3f4f7 0%, #f3f4f7 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3f4f7 0%, #f3f4f7 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3f4f7 0%, #f3f4f7 50%,#ffffff 50%,#ffffff 100%);

    hr {
      margin-top: 0;
    }
    img {
      padding: 60px 0;
    }
    .default-text {
      padding: 0;
    }
  }

  &--remitly-gradient{
    background: -moz-linear-gradient(45deg, #2a5ea5 0%, #74afff 100%);
    background: -webkit-linear-gradient(45deg, #2a5ea5 0%,#74afff 100%);
    background: linear-gradient(45deg, #2a5ea5 0%,#74afff 100%);

    @media (min-width: @screen-md ){
      padding: 80px 0;
    }
  }

  &--hex2sketch-dark{
    background-color: #222222;
  }

  &--hex2sketch-old{
    background: #3E3E3E;

    h3{
      color: #8E8E8E;
      text-align: center;
    }

    hr{
      margin-top: 40px;
      margin-bottom: 40px;
      border-top-color: #545454;
    }
  }

  &--hex2sketch-new{
    background: #F2F2F2;
  }

}

.card{
  background-color: white;
  padding: 80px;
  overflow: hidden;

  @media (max-width: @screen-md ){
    padding: 40px;
  }

  @media (max-width: @screen-sm ){
    padding: 20px;
  }

  &--m-b{
    margin-bottom: 80px;

    @media (max-width: @screen-md ){
      margin-bottom: 40px;
    }
  }
}

.orchid-bullets{
  .make-xs-column(20);
  .make-xs-column-offset(2);

  .make-sm-column(12);
  .make-sm-column-offset(6);

  .make-md-column(8);
  .make-md-column-offset(8);

  .make-lg-column(6);
  .make-lg-column-offset(9);

  list-style-type: none;

  li{
    margin-top: 40px;
    overflow: hidden;
    color: #ffffff;

    * {
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.remitly-new-pattern-desc {
  padding-top: 160px;
}