//====================
// Type
//====================

html, body{
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.05em;
  letter-spacing: -0.02em;
}


h1, .h1{
  color: @heading-text;
  font-weight: @heading-weight;
  // default (mobile/xs) size
  font-size: 60px;
  // SM and larger size
  @media (min-width: @screen-sm){
    font-size: 96px;
  }
}

h2, .h2{
  color: @heading-text;
  font-weight: @heading-weight;
  font-size: 40px;
}

h3, .h3{
  color: @heading-text;
  font-weight: @heading-weight;
  font-size: 30px;
}

h4, .h4{
  color: @heading-text;
  font-weight: @heading-weight;
  font-size: 20px;
}

p, ol, ul{
  color: @body-text;
  font-weight: 400;

  // mobile default
  font-size: 18px;
  line-height: 1.3em;

  @media (min-width: @screen-sm){
    font-size: 20px;
  }

  a{
    color: @link-color;
    background: #197de714;
    // States fall back to the bootstrap ones
  }
}



hr {
  // fixme: pull these out into vars
  border-top: 2px solid #DCE2E4;

  margin-top: 40px;
  margin-bottom: 40px;

  // margin is larger on non-mobile
  @media (min-width: @screen-sm){
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

b,
strong {
  color: @strong-text;
}

.handwriting {
  font-family: ladylike;
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fine-print {
  &, & p {
    font-size: 16px;
    line-height: 1.4em;
  }
}