doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Rick Steele | Product Designer
    link(rel="stylesheet" href="/styles/main.css")
    link(rel="icon" type="image/x-icon" href="/img/favicon.ico")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      /////////////////////////////////
      // shrinky header (h/t tom durkin)
      /////////////////////////////////
      $(document).on("scroll", function(){
        if
          ($(document).scrollTop() > 100){
          $("nav").addClass("nav--slim");
        }
        else
        {
          $("nav").removeClass("nav--slim");
        }
      });

      /////////////////////////////////
      // footer selection
      /////////////////////////////////

      $(document).ready(function(){

        //- hide footer by default
        $('footer').hide();


        var project = window.location.pathname.split('.')[0].replace(/[^A-Za-z0-9\s!?]/g,'');
        console.log("project: " + project);

        if(project.length < 3){
          project = undefined;
        }

        $('footer .project-hero').each( function(){
          var classes = $(this).attr('class');
          if( classes.indexOf(project) >= 0 ){
            $('footer').show();
            // add selection styles
          }
        } );
      });



      /////////////////////////////////
      // gfycat
      /////////////////////////////////
      (function(d, t) {
          var g = d.createElement(t),
              s = d.getElementsByTagName(t)[0];
          g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
          s.parentNode.insertBefore(g, s);
      }(document, 'script'));

    //- google analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8303297-1', 'auto');
      ga('send', 'pageview');

  body
    nav.nav--index
      a.nav__entry(href="/index.html")
        h3.nav__title Rick Steele
        h5.nav__subtitle Product Designer

    block body

    footer.container-fluid
      .row
        h2 Other Projects
      .row
        a.project-hero.project-hero--remitly.col-xs-24.col-sm-12.col-md-8(href="/remitly.html" style="overflow: hidden;")
          img(src="/img/home/remitly-thumb.png")
          .gradient-under
          .info-card
            h4 Remitly
            p Helping immigrants send money home
          .gradient-over

        a.project-hero.project-hero--karmic.col-xs-24.col-sm-12.col-md-8(href="/karmic.html" style="overflow: hidden;")
          img(src="/img/home/karmic-thumb.png")
          .gradient-under
          .info-card
            h4 Karmic
            p Mobile first money transfer
          .gradient-over

        a.project-hero.project-hero--orchid.col-xs-24.col-sm-12.col-md-8(href="/orchid.html" style="overflow: hidden;")
          img(src="/img/home/orchid-thumb.png")
          .gradient-under
          .info-card
            h4 Orchid
            p Personal spending data visualization
          .gradient-over

        a.project-hero.project-hero--hex2sketch.col-xs-24.col-sm-12.col-md-8(href="/hex2sketch.html" style="overflow: hidden;")
          img(src="/img/home/hex2sketch-thumb.png")
          .gradient-under
          .info-card
            h4 Hex 2 Sketch
            p Turn web colors into sketch palettes
          .gradient-over

        a.project-hero.project-hero--palace.col-xs-24.col-sm-12.col-md-8(href="/palace.html" style="overflow: hidden;")
          img(src="/img/home/palace-thumb.png")
          .gradient-under
          .info-card
            h4 Palace
            p Internet of Things control dashboard
          .gradient-over

        a.project-hero.project-hero--animatik.col-xs-24.col-sm-12.col-md-8(href="/animatik.html" style="overflow: hidden;")
          img(src="/img/home/animatik-thumb.png")
          .gradient-under
          .info-card
            h4 Animatik
            p Social media / photo editing
          .gradient-over