section.dark
  .container-fluid.project-stack
    .row
      a.project-hero.project-hero--adobe(href="/adobe.html")
        img(src="/img/home/adobe-home.png")
        .gradient.gradient--under
        .info-card
          h4 Adobe
          p Design systems at scale
        .gradient.gradient--over
      a.project-hero.project-hero--passbook(href="/passbook.html")
        img(src="/img/home/passbook-home.png")
        .gradient.gradient--under
        .info-card
          h4 Passbook
          p Mobile lending workflows
        .gradient.gradient--over
      a.project-hero.project-hero--remitly(href="/remitly.html")
        img(src="/img/home/remitly-home.png")
        .gradient.gradient--under
        .info-card
          h4 Remitly
          //- Span to eliminate word wrap on tablet
          p Helping immigrants send money <span class="hidden-sm">home</span>
        .gradient.gradient--over
      a.project-hero.project-hero--karmic(href="/karmic.html")
        img(src="/img/home/karmic-home.png")
        .gradient.gradient--under
        .info-card
          h4 Karmic
          p Mobile first money transfer
        .gradient.gradient--over
      a.project-hero.project-hero--orchid(href="/orchid.html")
        img(src="/img/home/orchid-home.png")
        .gradient.gradient--under
        .info-card
          h4 Orchid
          p Personal spending data visualization
        .gradient.gradient--over
      a.project-hero.project-hero--hex2sketch(href="/hex2sketch.html")
        img(src="/img/home/hex2sketch-home.png")
        .gradient.gradient--under
        .info-card
          h4 Hex 2 Sketch
          p Turn web colors into sketch palettes
        .gradient.gradient--over
