doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Rick Steele | Design Systems Technologist
    link(rel="stylesheet" href="/styles/portfolio.css")
    link(rel="icon" type="image/x-icon" href="/img/favicon.ico")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

  body
    #wrapper
      nav.nav--rail
        h3.nav__title Rick Steele
        h5.nav__subtitle Design Systems Technologist
        a.project-hero.project-hero--adobe(href="/adobe.html" style="overflow: hidden;")
          img(src="/img/home/adobe-thumb.png")
          .gradient-under
          .info-card
            h4 Adobe
            p Design systems at scale
          .gradient-over
        a.project-hero.project-hero--passbook(href="/passbook.html" style="overflow: hidden;")
          img(src="/img/home/passbook-thumb.png")
          .gradient-under
          .info-card
            h4 Passbook
            p Mobile lending workflows
          .gradient-over
        a.project-hero.project-hero--remitly(href="/remitly.html" style="overflow: hidden;")
          img(src="/img/home/remitly-thumb.png")
          .gradient-under
          .info-card
            h4 Remitly
            p Helping immigrants send money home
          .gradient-over

        a.project-hero.project-hero--karmic(href="/karmic.html" style="overflow: hidden;")
          img(src="/img/home/karmic-thumb.png")
          .gradient-under
          .info-card
            h4 Karmic
            p Mobile first money transfer
          .gradient-over

        a.project-hero.project-hero--orchid(href="/orchid.html" style="overflow: hidden;")
          img(src="/img/home/orchid-thumb.png")
          .gradient-under
          .info-card
            h4 Orchid
            p Personal spending data visualization
          .gradient-over

        a.project-hero.project-hero--hex2sketch(href="/hex2sketch.html" style="overflow: hidden;")
          img(src="/img/home/hex2sketch-thumb.png")
          .gradient-under
          .info-card
            h4 Hex 2 Sketch
            p Turn web colors into sketch palettes
          .gradient-over

      #content
        block content