extends ./_template_page

block content
  section
    .container-fluid
      .row
        .default-text
          h2 Hi, I'm Rick
          p Hybrid product designer / JS dev. Typescript preferred.
          p Design systems specialist, particularly interested in tools that supercharge workflows for designers and developers.
          p <strong>My job is to automate myself out of a job</strong>, and more generally, to help fiercely technical design teams grow impact without growing headcount.
          br
          br
          p Most recently, I built tooling to help Adobe manage Spectrum – one of the world's largest design systems – with a team of only 20 or so. <a href="/adobe.html">Here's more about that</a>.
          h4 TL;DR:
          ul
            li Modernized and maintained the JS-based SVG tools that generate all of Spectrum's UI kits, as well as the <a href="https://spectrum.adobe.com/page/spectrum-xd-plugin/">Spectrum XD Plugin</a>.
            li Built an A11Y linter that checks every element of every permutation of every component in Adobe's design system against WCAG targets, with lots of slick logging and portable CSV output. This does (very conservatively) 
              strong ~$20k of human labor every time you press the button.
            li Rapid react prototyping to help designers decide how components should behave by playing with highly configurable live versions.
            li Lots of insanely fun stuff that I'm not allowed to talk about, under the broad umbrella of "prototype the tools design systems nerds will need 5 years from now".
          br
          br
          p Before that, I spent years working on design systems in fintech specifically, so I have additional background:
            ul
              li Owning highly consequential experiences: eg <a href="/remitly.html">a design system and checkout experience</a> that <strong>moved $7B/yr (more now) with zero hiccups</strong>.
              li Designing data-intensive products: tables, filters, visualizations, etc.
              li Building compliant products in regulated environments. (I'm used to doing design reviews with lawyers). 
              li I arrive already ramped on i18n-responsive design, WCAG, 508c, etc.
          br
          br
          p If that sounds like the kind of thing you're looking for, I'm excited to hear about what you're working on.
          //- hr
          p I'm currently available to talk / interview for <strong>full time roles starting in Fall of 2022</strong> (Sept. 1st or later).
          br
          br
          p
            a.btn.btn-success.btn-lg(href="/about.html") Download Resume (PDF)