extends ./_template_page

block content
  section
    .container-fluid
      .panel
        .row
          .default-text(style="padding-bottom: 0;")
            h1.text-center Text
            p.text-center Subtext
      .row
        .default-text
          h2 Context
          p More text
