extends ./_rail-layout.pug

block content
  section
    .container-fluid
      .row
        .default-text
          ul
            li I'm Rick
            li Hybrid design + dev. Extremely experienced product designer, sufficiently dangerous in react/typescript.
            li A design technologist, most recently building custom tooling to help [Adobe] manage one of the world's largest design systems with a team of only 20 or so.
            
            li Strong background in fintech, govtech:
              ul
                li Experience building compliant products in regulated environments. Used to doing design reviews with lawyers.
                li Comfortable in extremely high stakes environments. I spent 9 months as the sole product designer for [a checkout system that moved $7B/yr]. Zero hiccups.
                li I arrive already ramped on i18n-responsive design, WCAG, semantic HTML/ARIA, 508c, assistive devices, etc.

          h5 Some interesting topics I'd be down to nerd out about
          ul
            li Abstractions from other domains that have utility for design systems, particularly token management and propagation
              ul
                li strong typing / type guards
                li reactive programming / signal processing
                li finite state machines
                li formal logic programming / provability / permutability
                li DSLs/parsers/compilers and why we don't right more of them
                li automation and the future of design / asset production
  section(style="background: #5cb85c")
    .container-fluid
      .row
        .default-text
          h2 I'm open to new roles right now.
          p I'm currently on 🏝️ sabbatical, but I'm available to talk / interview immediately for <strong>full time roles starting in Fall of 2022</strong> (no sooner than Sept 1st).

          h4 Here are some details to check if it's a good fit:
          ul
            li Hybrid design/dev design system focused, particularly working on devtools, automation, or large scale.
            li Next-gen design system authoring, maintenance, and deployment. Helping fiercely technical design teams grow impact without growing headcount.
            li Anomalously high agency / high autonomy. It's encouraging when calendars, repos, decision criteria, etc are default-visible.
          
          h4 Logistics
          ul
            li I'm located in Seattle. Relocation somewhere warmer/sunnier is on the table, but (permanently) returning to the SF bay area is not.
            li Hybrid remote friendly. 5 Days a week is too much office time, but I'm a fan of <em>some</em> office presence, either locally or flying on site. Frequent travel (including to SF) isn't a problem.

            //- https://www.levels.fyi/?compare=Facebook,Google,Uber,Amazon&track=Product%20Designer