extends ./_template_home

block content
  section.dark
    .container-fluid
      .row.intro-quote
        h1.hidden-xs.hidden-sm Design + Code
        h1.visible-xs.visible-sm Design <br/>+ Code
        h2.visible-xs I help companies with complex <br/> products create consistent,<br/> scalable design.
        h2.hidden-xs I help companies with complex products <br/>create consistent, scalable design.
        
        ul
          li Design Systems
          li Automation
          li Devtools
      .row
        include ./_hire-card

  include ./_project-stack
  