extends ./_layout.pug

block body
  .container-fluid
    .row.intro-quote
      .col-xs-20.col-xs-offset-2.col-sm-16.col-sm-offset-4.col-md-10.col-md-offset-7
        h2 I help companies focused on data communication and visualization build better products.

        h2 
          em Currently accepting freelance projects:
          br
          a(href="mailto:PatrickJSteele@gmail.com") PatrickJSteele@gmail.com

        //- a.btn.btn-lg.intro-quote__btn(href="img/RickSteele_Resume_2016.pdf")
        //-   | Download My Resume

        //- a.btn.btn-lg.intro-quote__btn(href="mailto:patrickjsteele@gmail.com")
        //-   | Email Me

    a.row.project-hero(href="/karmic.html")
      img(src="/img/home/Karmic_Hero_01.png?w=1200&fm=jpg")
      h1 Karmic

    a.row.project-hero(href="/orchid.html")
      img(src="/img/home/Orchid_Hero_02.png?w=1200&fm=jpg")
      h1 Orchid

    a.row.project-hero(href="/palace.html")
      img(src="/img/home/Palace_Hero_02.jpg?w=1200")
      h1 Palace

    a.row.project-hero(href="/animatik.html")
      img(src="/img/home/Animatik_Hero_02.jpg?w=1200")
      h1 Animatik