extends ./_template_page

block content
  section
    .container-fluid
      .row.panel.panel--remitly-intro
        .default-text.text-center.round-xs(style="background:none; padding: 40px")
          h1 The Remitly design system
          h2.visible-lg.visible-xl &nbsp;

      .row
        .default-text.round-bottom-sm
          h2 Context

          p As Remitly scaled its money sending operations from 3 countries to roughly a dozen, managing location-specific implementations became costly. Engineering made the decision to replace the front end with something more maintainable, which was the right opportunity to also overhaul a UI that hadn’t gotten much love in the past

          p The new design system helped us keep a consistent execution across multiple corridors with customized experiences based on cultural and regulatory expectations, while also serving as a platform for quickly testing variations on the product, scaling to accomodate a complex fintech product with <strong>over $7 billion in annual throughput</strong>.

      //- Existing brand widget
      .panel.panel--remitly-pale.round-bottom-sm.round-lg
        .row(style="padding:0 16px")
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow(style="background-color:white; padding: 80px 0; overflow: hidden;")
            .col-xs-18.col-xs-offset-3.col-xl-7.col-xl-offset-2.md-vertical-center(style="padding-bottom: 20px;")
              h4(style="color: #FF3F00; margin-bottom: 0;") Context
              h2(style="color: #173A4A; margin-top: 0;") Existing brand
              
              p The first pass at a mobile version of this app adhered closely to 
                a(href="https://web.archive.org/web/20180212064432/http://www.weareairlift.com/case-study/remitly") the existing print guidlines
                | - dark backgrounds, and white text on bright reds and greens. However, it wasn’t long until the glaring UX implications led us to develop an alternate theme that would incorporate form design best practices - especially around error handling, while still feeling on-brand.

            .col-xs-18.col-xs-offset-3.col-xl-11.col-xl-offset-2
              img(src="/img/remitly/remitly_existing_brand_simple.png", style="width: 100%;")

  section
    .container-fluid
      .row.hidden-xl.hidden-lg
          .default-text.round-top-sm
            h2.text-center A new design system from the ground up.
      .row.visible-xl
        .default-text.round-top-xl
          h2 Color
          p The UI environment is demanding of colors that are less welcome in marketing materials. Yellows become browns for contrast and readability purposes. Hover states mean additional shaded / tinted versions of things. The product design color palette took the original marketing palette and filled in the gaps for performance in any situation.
      
      //- Desktop version
      .hidden-xs.panel.panel--remitly-pale.round-top-sm
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card
            img(src="/img/remitly/remitly_palette.png", style="width: 100%;")

      //- Mobile version
      .visible-xs.panel.panel--remitly-pale
        .row
          .col-xs-22.col-xs-offset-1.shadow.card
            img(src="/img/remitly/remitly_palette.png", style="width: 100%;")

      .row.hidden-xl
        .default-text.round-bottom-sm
          h2 Color
          p The UI environment is demanding of colors that are less welcome in marketing materials. Yellows become browns for contrast and readability purposes. Hover states mean additional shaded / tinted versions of things. The product design color palette took the original marketing palette and filled in the gaps for performance in a broader set of environments.

  section
    .container-fluid
      .row.visible-xl
        .default-text.round-top-xl
          h2 Spacing
          p Our spacing began with an exponential scale. It felt like a great start, though we ended up missing some intermediate sizes (12px and 24px) and adding them in.
      

      //- Desktop version
      .hidden-xs.panel.panel--remitly-pale.round-top-sm
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card
            img(src="/img/remitly/remitly_spacing.png", style="width: 100%;")

      //- Mobile version
      .visible-xs.panel.panel--remitly-pale
        .row
          .col-xs-22.col-xs-offset-1.shadow.card
            img(src="/img/remitly/remitly_spacing.png", style="width: 100%;")
      .row.hidden-xl
        .default-text.round-bottom-sm
          h2 Spacing
          p Our spacing began with an exponential scale. It felt like a great start, though we ended up missing some intermediate sizes (12px and 24px) and adding them in.

  section
    .container-fluid
      .row.visible-xl
        .default-text.round-top-xl
          h2 Typography
          p The goal of the type stack was to have a top end that was bold enough for marketing heros, and a bottom end that was robust enough for legal documents with multiple levels of headings. We borrowed an abstraction from bootstrap and extended the headings with two Display sizes that enhanced the h1 while keeping the h1s themselves at a sane size.

      //- Desktop version
      .hidden-xs.panel.panel--remitly-pale.round-top-sm
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card
            img(src="/img/remitly/remitly_type_desktop.png", style="width: 100%;")

      //- Mobile version
      .visible-xs.panel.panel--remitly-pale
        .row
          .col-xs-22.col-xs-offset-1.shadow.card
            img(src="/img/remitly/remitly_type_mobile.jpg", style="width: 100%;")
      
      .row.hidden-xl
        .default-text.round-bottom-sm
          h2 Typography
          p The goal of the type stack was to have a top end that was bold enough for marketing heros, and a bottom end that was robust enough for legal documents with multiple levels of headings. We borrowed an abstraction from bootstrap and extended the headings with two Display sizes that enhanced the h1 while keeping the h1s themselves at a sane size.

  section
    .container-fluid
      .row
        .default-text
          h2 Basic UI components

          p With the core tokens of the design system in place, generalized buttons and form elements were the next step.
      
      .hidden-xs.panel.panel--remitly-pale.text-center
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card.card--m-b
              .col-xs-14.col-xs-offset-5
                img(src="/img/remitly/remitly_toggles.png", style="width: 100%;")
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card.card--m-b
              img(src="/img/remitly/remitly_buttons.png", style="width: 100%; max-width: 800px;")
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card.card--m-b
                img(src="/img/remitly/remitly_form_alerts.png", style="width: 100%; max-width: 800px;")
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card
                img(src="/img/remitly/remitly_system_alerts.png", style="width: 100%;")

        //- Mobile version
        .visible-xs.panel.panel--remitly-pale
          .row
            .col-xs-22.col-xs-offset-1.shadow.card.card--m-b
              img(src="/img/remitly/remitly_buttons.png", style="width: 100%;")
          .row
            .col-xs-22.col-xs-offset-1.shadow.card.card--m-b
              .col-xs-14.col-xs-offset-5
                img(src="/img/remitly/remitly_toggles.png", style="width: 100%;")
          .row
            .col-xs-22.col-xs-offset-1.shadow.card.card--m-b
                img(src="/img/remitly/remitly_form_alerts.png", style="width: 100%;")
          .row
            .col-xs-22.col-xs-offset-1.shadow.card
                img(src="/img/remitly/remitly_system_alerts.png", style="width: 100%;")

  section
    .container-fluid
      .row
        .default-text.round-top-sm
          h2 Form best practices

          p The combination of complex forms and less technical customers gives input design a higher-than-average importance. We adapted best practices from Neilsen, with a framework that supported a wide variety of labels, placeholders, informational text, and alerts.

      //- desktop version
      .hidden-xs.panel.panel--remitly-pale
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card.card--m-b
              img(src="/img/remitly/remitly_inputs.png", style="width: 100%;")
        .row
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card.card--m-b
              img(src="/img/remitly/remitly_grouped_inputs.png", style="width: 100%;")

      //- mobile version
      .visible-xs.panel.panel--remitly-pale
        .row
          .col-xs-22.col-xs-offset-1.shadow.card.card--m-b
            img(src="/img/remitly/remitly_inputs.png", style="width: 100%;")
        .row
          .col-xs-22.col-xs-offset-1.shadow.card
            img(src="/img/remitly/remitly_grouped_inputs.png", style="width: 100%;")

      .row
        .default-text
          h2 Tiered error states

          p When things go wrong, it’s important to be clear about where. Multiple patterns give the option to couple an error tightly with a piece of UI, or message it more generally.

      .panel.panel--remitly-pale.round-bottom-sm
        .hidden-xs.hidden-sm.row(style="display:flex; flex-direction: row; padding: 0 60px")
          .col-xs-6.col-xs-offset-0(style="display: flex; flex: 1 100%; flex-direction: column")
            img.shadow(src="/img/remitly/remitly_error_field.png", style="width: 100%;")
            div(style="padding-top: 20px")  
              h3 Field level
              p When a problem is scoped to a single UI element.

          .col-xs-6.col-xs-offset-1(style="display: flex; flex: 1 100%; flex-direction: column")
            img.shadow(src="/img/remitly/remitly_error_form.png", style="width: 100%;")
            div(style="padding-top: 20px")  
              h3 Form level
              p Errors on a single part of the page, but not tied to a single UI element.

          .col-xs-6.col-xs-offset-1(style="display: flex; flex: 1 100%; flex-direction: column")
            img.shadow(src="/img/remitly/remitly_error_system.png", style="width: 100%;")
            div(style="padding-top: 20px")  
              h3 System level
              p Errors above the page level, like a vendor outage or local connectivity issue.

        .hidden-md.hidden-lg.row
          .shadow.col-xs-18.col-xs-offset-3(style="background: white; margin-bottom: 40px;")
            img(src="/img/remitly/remitly_error_field.png", style="width: 100%;")
            div(style="padding: 0 20px 20px;")
              h3 Field level
              p When a problem is scoped to a single UI element.

          .shadow.col-xs-18.col-xs-offset-3(style="background: white; margin-bottom: 40px;")
            img(src="/img/remitly/remitly_error_form.png", style="width: 100%;")
            div(style="padding: 0 20px 20px;")
              h3 Form level
              p Errors on a single part of the page, but not tied to a single UI element.

          .shadow.col-xs-18.col-xs-offset-3(style="background: white;")
            img(src="/img/remitly/remitly_error_system.png", style="width: 100%;")
            div(style="padding: 0 20px 20px;")
              h3 System level
              p Errors above the page level, like a vendor outage or local connectivity issue.
        .row
          .default-text(style="background:none")
            hr(style="margin: 0 auto;")

        //- Ultrawide version
        .row.visible-xl
          .col-lg-4.col-lg-offset-1.text-right.remitly-new-pattern-desc
            p
              strong Previous patterns
            p One-size-fits-all errors stacked in a top tray because red-on-navy made inline errors impractical. 
            p Requires resolving error 1 to see additional errors
            p Placeholders as labels - field information is lost during editing.
          .col-xs-11.col-xs-offset-1.col-md-8.col-md-offset-4.col-lg-6.col-lg-offset-1
            img(src="/img/remitly/remitly_compare_old.png", style="width: 100%;")
          .col-xs-11.col-md-8.col-lg-6
            img(src="/img/remitly/remitly_compare_new.png", style="width: 100%;")
          .col-lg-4.col-lg-offset-1.remitly-new-pattern-desc
            p
              strong Revised patterns
            p Errors can easily be displayed inline at an appropriate granularity. Support for feedback about multiple errors at once.
            p Label information intact during editing.
            p Critical extra data (date formats, password requrements, etc) can also be kept intact with help text.

        //- SM through LG version
        .row.hidden-xl.hidden-xs
          .col-xs-9.col-xs-offset-2.col-md-8.col-md-offset-3
            img(src="/img/remitly/remitly_compare_old.png", style="width: 100%;")
            p &nbsp; 
            p
              strong Previous patterns
            p One-size-fits-all errors stacked in a top tray because red-on-navy made inline errors impractical. 
            p Requires resolving error 1 to see additional errors
            p Placeholders as labels - field information is lost during editing.
          .col-xs-9.col-xs-offset-2.col-md-8
            img(src="/img/remitly/remitly_compare_new.png", style="width: 100%;")
            p &nbsp; 
            p
              strong Revised patterns
            p Errors can easily be displayed inline at an appropriate granularity. Support for feedback about multiple errors at once.
            p Label information intact during editing.
            p Critical extra data (date formats, password requrements, etc) can also be kept intact with help text.

        //- XS mobile version
        .row.visible-xs
          .col-xs-20.col-xs-offset-2
            img(src="/img/remitly/remitly_compare_old.png", style="width: 100%;")
            p &nbsp; 
            p
              strong Previous patterns
            p One-size-fits-all errors stacked in a top tray because red-on-navy made inline errors impractical. 
            p Requires resolving error 1 to see additional errors
            p Placeholders as labels - field information is lost during editing.
            hr
        .row.visible-xs
          .col-xs-20.col-xs-offset-2
            img(src="/img/remitly/remitly_compare_new.png", style="width: 100%;")
            p &nbsp; 
            p
              strong Revised patterns
            p Errors can easily be displayed inline at an appropriate granularity. Support for feedback about multiple errors at once.
            p Label information intact during editing.
            p Critical extra data (date formats, password requrements, etc) can also be kept intact with help text.
    
  section
    .container-fluid
      .row
        .default-text.round-top-sm
          h2 Empty states and file uploads

          p Onboarding is a difficult but critical step for financial applications. A multitude of empty states helped users familiarize themselves with the UI before the system was populated with their information. Some states are purely informational, and some have calls to action at various levels of intensity.

      .panel.panel--remitly-pale
        .row(style="padding:0 16px")
          .col-sm-20.col-sm-offset-2.col-md-18.col-md-offset-3.shadow.card
              img(src="/img/remitly/remitly_empty_states.png", style="width: 100%;")
  
  section
    .container-fluid
      .row
        .default-text
          h2 Desktop UI
          p The desktop version extends the mobile patterns and takes advantage of the increase in space.
          p New navigation lets users know where they are in the process, the status of each step, and a summary of the information they’ve entered.

      .panel.panel--remitly-gradient
        .row
          .col-xs-22.col-xs-offset-1.col-md-20.col-md-offset-2
            img(src="/img/remitly/remitly_desktop_screens.png", style="width: 100%;")